name: create-release

on:
  workflow_call:
    inputs:
      runs-on:
        type: string
        default: arc-kubernetes-cluster
      version:
        description: Use to override the default generated version
        required: false
        type: string
      token:
        type: string
        description: Access token used when creating the release, using GITHUB_TOKEN will not fire any additional workflows like on:release:published
        required: false
        default: ${{ secrets.CREATE_RELEASE_PAT }}

jobs:
  release:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: ⬇️ Checkout repository
        uses: actions/checkout@v4

      - name: Generate version number - Windows OS
        if: ${{ runner.os == 'Windows' }}
        shell: powershell
        run: |
          echo "VERSION=$((Get-Date).ToString("yyyy.MM.dd.HHmm"))" >> ${GITHUB_ENV}

      - name: Generate version number - Linux/Mac OS
        if: ${{ runner.os != 'Windows' }}
        run: |
          echo "VERSION=$(date +"%Y.%m.%d.%H%M")" >> ${GITHUB_ENV}

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ inputs.token }}
          name: v${{VERSION}}
          tag_name: ${{VERSION}}
          generate_release_notes: true
          make_latest: true
